{% extends 'base.html' %}

{% block header_ext %}
{% endblock %}

{% block content %}
    <section class="content-header">
      <h1>
        个人设置
        <small>完善您的个人信息以通过认证</small>
      </h1>
      <ol class="breadcrumb">
        <li style="font-size: 18px;"><a href="{{ url_for('main.index') }}"><i class="fa fa-tags"></i>主页</a></li>
        <li class="active" style="font-size: 18px;">个人设置</li>
      </ol>
    </section>

    <section class="content container-fluid container">

        {% if status == 'success' %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> 修改成功!</h4>
        </div>
        {% elif fail_message %}
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-warning"></i> 修改失败!</h4>
            {{ fail_message }}
        </div>
        {% endif %}

        <div class="row" style="margin-top: 10px;">
            <div class="col-xs-2">
                <div class="box box-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title">个人设置菜单</h3>

                      <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                      </div>
                    </div>
                    <div class="box-body no-padding">
                      <ul class="nav nav-pills nav-stacked">
                        <li><a href="{{ url_for('user.setting_information') }}"><i class="fa fa-inbox"></i> 基本信息设置</a></li>
                        <li class="active"><a href="#"><i class="glyphicon glyphicon-lock"></i> 修改用户密码</a></li>
                        <li><a href="{{ url_for('user.setting_avatar') }}"><i class="glyphicon glyphicon-picture"></i> 上传用户头像</a></li>
                      </ul>
                    </div>
                </div>
            </div>

            <div class="col-xs-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title">修改密码</h3>
                    </div>

                    <form action="{{ url_for('user.setting_password') }}" method="post" class="form-horizontal">
                        <div class="box-body">

                            <div class="form-group">
                              <label class="col-sm-2 control-label">初始密码</label>
                              <div class="col-sm-10">
                                <input name="origin_password" type="password" class="form-control" required>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">设置新密码</label>
                              <div class="col-sm-10">
                                <input name="new_password" type="password" class="form-control" required>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">重复新密码</label>
                              <div class="col-sm-10">
                                <input name="new_password2" type="password" class="form-control" required>
                              </div>
                            </div>
                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-info pull-right">保存</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer_ext %}
{% endblock %}